Library Requirements
-----------------------
This file lists the libraries required for the project.

pandas - for data manipulation and analysis
sqlalchemy - for database interaction   
pymysql - for MySQL database connection
mysql-connector-python - for MySQL database connection